version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-account
    environment:
      MYSQL_DATABASE: account
      MYSQL_USER: account
      MYSQL_PASSWORD: account
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    command: [ "--default-authentication-plugin=mysql_native_password" ]
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-proot" ]
      interval: 5s
      timeout: 3s
      retries: 20
    networks:
      - observability

  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    environment:
      SERVICES: sqs
      AWS_DEFAULT_REGION: us-east-1
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
    ports:
      - "4566:4566"
    networks:
      - observability

  account-api:
    build: .
    container_name: account-api
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-account:3306/account?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: account
      SPRING_DATASOURCE_PASSWORD: account
      SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.MySQLDialect
      SPRING_CLOUD_AWS_SQS_ENDPOINT: http://localstack:4566
      SPRING_CLOUD_AWS_REGION_STATIC: us-east-1
      SPRING_CLOUD_AWS_CREDENTIALS_ACCESS_KEY: test
      SPRING_CLOUD_AWS_CREDENTIALS_SECRET_KEY: test
    depends_on:
      mysql:
        condition: service_healthy
      localstack:
        condition: service_started
    networks:
      - observability

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    networks:
      - observability

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
    networks:
      - observability

  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    networks:
      - observability

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    command: -config.file=/etc/promtail/config.yml
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ./promtail-config.yml:/etc/promtail/config.yml:ro
    networks:
      - observability

  simulatortransaction:
    build:
      context: ./simulatortransaction
      dockerfile: Dockerfile

networks:
  observability:
